body {
  font-family: "Century Gothic", sans-serif;
  background: white;
  font-size: 100%;
}

nav a:hover {
  color: red;
}

@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1 {
  font-family: 'Pacifico', cursive;
  color: red;
}
