header {
    background-color: black;
    padding: 20px 50px;
}

body {
  font-family: "Century Gothic", sans-serif;
  background: white;
  font-size: 100%;
}

nav a:hover {
  color: #c10e2d;
}


@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1 {
  font-family: "Pacifico", cursive;
  color: #c10e2d;
}

footer a:hover {
  color: #c10e2d;
}


