html {
    box-sizing: border-box;
}


body {
    font-family: "Century Gothic", sans-serif;
    font-size: 100%;
    margin:  0;
}

header {
    background-image: url(https://crojas5.github.io/assignment/projects/htmlstructuraltags/images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh;
    padding: 4px;
    width: 100%;
    color:white;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: black;
    display: inline;
}
nav li {
    display: inline-block;
    color: #c10e2d;
}

a {
    color: #c10e2d;
    text-decoration: none;
}

a:hover {
    color: white;
}



.background-stuff{

    color: white;
    text-align: center;
    margin: auto;
    padding: 50px;
    box-shadow: 10x 10px 20px black
}

.background-stuff img {
    max-width: 100%;
    height: auto;
}

.marketing{
    border-radius: 50%;
    border: 2px solid white;

}


.marketing-text {
    width: 50%;
    display: inline-block;
}


main article {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section {
    text-align: center;
    display: inline-block;
    flex: 0 0 30%;

}

@media (max-width: 768px) {
    main article {
        display: block;
    }

    main section {
        flex: 0 0 100%;
    }
}

.gradient {
    border-radius: 20px;
    background: linear-gradient(lightpink, red);
}
.gradient h1 {
    color:white;
}


h1 {
    font-family: "Pacifico", cursive;
    color: #c10e2d;
    font-weight: normal;
    font-size: 2rem;
}

footer {
    background-color:black;
    color:#c10e2d;
    padding:2px;
    width:100%;
    text-align: center;
}

footer a:hover {
    color: white;
}
